<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>Hello</p>
<p>
  A new user (<%= @user.email %>) has registered.
</p>
<p>
  Click <%= link_to 'Here', edit_person_url(@user) %> to unlock the user.
</p>
<p>
  click <%= link_to 'Here', url_for(:controller => 'auth/sessions', :action => 'new', :only_path => false) %> to sign in.
</p>
<p>Thanks for joining and have a great day!</p>
</body>