<%- model_class = Task -%>
<div class="nav-tabs">
  <%= render :partial => "common/project_module_tabs", :locals => {:tab_name => 'tasks'} %>
</div>
<div class="page-header">
  <h1>创建任务</h1>
</div>
<%= render :partial => 'form' %>
