<ul id="project-module-tabs" class="nav nav-tabs nav-justified">
  <li id="tab-tasks">
    <%= link_to '任务列表', project_tasks_path %>
  </li>
  <li id="tab-wikis">
    <%= link_to 'Wikis', project_wikis_path %>
  </li>
</ul>
<script type="text/javascript">
  $('#project-module-tabs li').removeClass('active');
  var tab_name = '<%= tab_name %>';
  $('#tab-' + tab_name).addClass('active')
</script>